.menu-toggle {
    outline: transparent !important;
    border-color: transparent !important;
    background-color: transparent !important;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border: none;

    &::before {
        content: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512' fill='%23000000'><path d='M0 96C0 78.33 14.33 64 32 64H416C433.7 64 448 78.33 448 96C448 113.7 433.7 128 416 128H32C14.33 128 0 113.7 0 96zM0 256C0 238.3 14.33 224 32 224H416C433.7 224 448 238.3 448 256C448 273.7 433.7 288 416 288H32C14.33 288 0 273.7 0 256zM416 448H32C14.33 448 0 433.7 0 416C0 398.3 14.33 384 32 384H416C433.7 384 448 398.3 448 416C448 433.7 433.7 448 416 448z'/></svg>");
        width: 20px;
        height: 20px;
        display: block;
    }

    &:focus {
        box-shadow: none;
    }

    &[aria-expanded*="false"] {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    &[aria-expanded*="true"] {
        -webkit-transform: rotate(-180deg);
        -moz-transform: rotate(-180deg);
        -o-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
        transform: rotate(-180deg);

        &::before {
            content: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'><path d='M310.6 361.4c12.5 12.5 12.5 32.75 0 45.25C304.4 412.9 296.2 416 288 416s-16.38-3.125-22.62-9.375L160 301.3L54.63 406.6C48.38 412.9 40.19 416 32 416S15.63 412.9 9.375 406.6c-12.5-12.5-12.5-32.75 0-45.25l105.4-105.4L9.375 150.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L160 210.8l105.4-105.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-105.4 105.4L310.6 361.4z'/></svg>");
            width: 0.875rem;
        }
    }
}

header {
    .custom-logo-link {
        img {
            max-width: 100px;
            width: 100%;
            height: auto;
        }
    }
}

.main-navigation {
    ul {
        list-style: none;
        padding-left: 0;
        text-align: center;

        a {
            padding: 0.5rem 0;
            display: block;
        }
    }


    .nav-social {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;

        a {
            padding: 0.5rem;
        }

        svg {
            width: 30px;
        }
    }
}
.top-logo-container{
    display: none;
    img{
        display: block;
        max-width: 100px;
        height: auto;
    }
}
@media screen and (max-width: 767px) {
    .main-navigation {
        .nav-wrapper {
            opacity: 0;
            background-color: rgba(255, 255, 255, 0.95);
            transform: translateY(-120%);
            position: absolute;
            width: 100%;
            top: 48px;
            transition: all 0.3s ease;
        }

        &.toggled .nav-wrapper {
            opacity: 1;
            transform: translateY(0);
        }

        a {
            color: $dark;
        }

        .menu-item:hover,
        .current-menu-item {
            background-color: $light;

            a {
                color: $black;
                //border-top: 1px solid $black;
            }
        }

        .nav-social {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;

            a {
                padding: 1rem;
                background-color: transparent;
                transition: background-color 0.3s ease;

                &:hover {
                    background-color: $light;
                }
            }

            svg {
                width: 30px;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .main-navigation {
        border-top: 1px solid #ddd;
        transform: rotate(90deg);
        transform-origin: 0 0;
        position: fixed;
        height: 50px;
        left: 50px;
        right: 0;
        top: 0;
        background: var(--j-light);
        z-index: 11;

        a {
            color: $dark;
        }

        .nav-wrapper {
            display: flex;
        }

        .side-menu {
            display: flex;
            margin: 0;

            .menu-item {
                padding: 0 1rem;
            }

            .menu-item:hover,
            .current-menu-item {
                a {
                    color: $black;
                    border-top: 2px solid $black;
                }
            }

            a {
                padding: 0.5rem 0;
                border-top: 2px solid transparent;
            }
        }

        .nav-social {
            a {
                padding: .5rem 1rem;
            }

            svg {
                transform: rotate(-90deg);
            }
        }
    }
}