@media (min-width: 768px) {
  .gutters-40 {
    margin-left: -2rem;
    margin-right: -2rem;
  }
  .gutters-40 > .col,
  .gutters-40 > [class*="col-"] {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.block-wrap .img-wrap {
  position: relative;
  .linkwrap {
    position: absolute;
    top: 0;
    left: 0;
    & > div {
      width: 2rem;
      height: 3rem;
      margin: 1rem;
      background-color: #ffffff;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
  }
}

.height-auto {
  height: auto;
}

.gallery-wrap {
  & > div {
    &:nth-child(3n - 1) {
      @media (min-width: 768px) {
        top: 5rem;
        position: relative;
      }
    }
  }
}

.artists-wrap {
  & > div {
    &:nth-child(3n - 1) {
      @media (min-width: 768px) {
        top: 5rem;
        position: relative;
      }
    }
  }
}

.block-wrap {
  .c-card {
    min-height: 26rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  h3 {
    font-family: "ivy-mode-bold";
  }
}

.searchandfilter ul {
  padding-left: 0;
}

nav.pagination {
  justify-content: center;
  text-align: center;
  .next.page-numbers {
    display: none;
  }
  .prev.page-numbers {
    display: none;
  }
  & > span {
    padding: 2rem;
    background-color: #eae0dc;
    color: #1f2227;
  }
  & > .current {
    padding: 2rem;
    background-color: #1f2227;
    color: #fff;
  }
  & > a {
    padding: 2rem;
    color: #1f2227;
    background-color: #eae0dc;
  }
}

.contact-us {
  .block-wrap {
    background-color: #ffffff;
    padding: 1.5rem 3rem;
    .btn-container {
      a {
        @media (max-width: 990px) {
          width: 100%;
          padding: 1rem;
        }
      }
    }
  }
  .mid-section {
    iframe {
      width: 100%;
      -webkit-filter: grayscale(100%);
      -moz-filter: grayscale(100%);
      -ms-filter: grayscale(100%);
      -o-filter: grayscale(100%);
      filter: grayscale(100%);
    }
    .directions-wrap {
      background: #1f2227;
      .directions {
        padding: 0 5rem;
        ul {
          padding-left: 0rem;
          list-style: none;
        }
        img {
          margin-right: 0.5rem;
        }
        li {
          position: relative;
          margin: 1rem 0;
        }
        .location {
          span {
            position: relative;
            left: 2rem;
            color: #f8f7f4;
          }
          &:before {
            background-image: url(assets/map-pin.svg);
            background-repeat: no-repeat;
            background-size: contain;
            height: 1.5rem;
            width: 1.5rem;
            content: "";
            display: inline-block;
            position: absolute;
          }
        }
        .phoneno {
          a {
            position: relative;
            left: 2rem;
            color: #f8f7f4;
          }
          &:before {
            background-image: url(assets/mail.svg);
            background-repeat: no-repeat;
            background-size: contain;
            height: 1.5rem;
            width: 1.5rem;
            content: "";
            display: inline-block;
            position: absolute;
          }
        }
        .mailid {
          a {
            left: 2rem;
            color: #f8f7f4;
            position: relative;
          }
          &:before {
            background-image: url(assets/smartphone.svg);
            background-repeat: no-repeat;
            background-size: contain;
            height: 1.5rem;
            width: 1.5rem;
            content: "";
            display: inline-block;
            position: absolute;
          }
        }
        h4 {
          color: #f8f7f4;
        }
        p {
          color: #f8f7f4;
        }
        h5 {
          color: #f8f7f4;
          a {
            font-weight: 800;
          }
          a {
            text-decoration: underline;
            color: #f8f7f4;
          }
        }
      }
    }
  }
}

.single-artist {
  .artist-title {
    max-width: 25rem;
  }
  .nav-tabs {
    border-bottom: 0 !important;
    .nav-link {
      border: 0;
      box-shadow: 0;
      text-decoration: underline;
      color: #1f2227;
      background-color: transparent !important;
      border-right: 1px solid #eae0dc;
      padding-top: 0;
      padding-bottom: 0;
    }

    li:last-child {
      button {
        border-right: 0;
      }
    }
  }
}

.img-categories {
  list-style: none;
  display: flex;
  text-decoration: underline;
  padding-left: 0;
  li {
    padding-right: 1rem;
  }
}
