.hero-section {
    .logo-container {
        position: relative;
        display: inline-block;
    }
}

.hero-section-wrapper {
    position: relative;
    isolation: isolate;
    min-height: 115vh;
    height: 115vh;

    .custom-logo-link {
        position: relative;
        z-index: -1;
    }
}

.logo-container {
    margin-top: -3rem;

    .custom-logo-link {
        display: block;
        max-width: 15rem;

        img {
            width: 100%;
            height: auto;
        }
    }
}

.logo_outline {
    position: absolute;
    top: -2px;
    right: -6px;
    max-height: 70px;
    z-index: 3;
}

.hero-images-wrapper {
    position: relative;
    width: 100%;
    max-height: 50vh;
    overflow: hidden;

    &::after {
        content: '';
        position: absolute;
        height: 10rem;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgb(255, 255, 255, 0);
        background: linear-gradient(180deg, rgba(248, 247, 244, 0) 0%, rgba(248, 247, 244, 1) 100%);
    }

    .hero-image-col {
        transition: transform 8s linear;
    }

    .last-col {
        opacity: 0.2;
    }

    .first-col,
    .last-col {
        transform: translateY(-2%);
    }

    .mid-col {
        transform: translateY(-50%);
    }

    .animate-hero {

        .first-col,
        .last-col {
            transform: translateY(-55%);
        }

        .mid-col {
            transform: translateY(-10%);
        }
    }
}

.hero-image-container {
    margin-bottom: 1rem;

    img {
        width: 100%;
        height: 16rem;
        object-fit: cover;
        margin-top: 1rem;
    }
}

.btn-explore-artist {
    border: 1px solid $body-color;
    border-radius: 50%;
    width: 140px;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    color: $body-color;
    box-shadow: 0 2px 0px 0px rgba($body-color, 0.0);
    transition: all 0.3s ease;

    &:hover {
        background-color: $light;
        border-color: $light;
        box-shadow: 0 2px 6px -2px rgba($body-color, 0.4);
    }
}

.our-artist-section {
    position: relative;
    z-index: 2;
}

.insta-feed {
    display: flex;
    overflow: hidden;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 20%;
        background: linear-gradient(90deg, rgba(248, 247, 244, 0) 0%, rgba(248, 247, 244, 1) 100%);
    }
}

.insta-item {
    width: 250px;
    height: 250px;
    object-fit: cover;
    margin-right: 1rem;
}

.our-story-img {
    img {
        max-width: 100%;
        height: auto;
    }
}

.our-story-sign {
    max-width: 160px;
}

.hero-section-wrapper.about-section-wrapper {
    min-height: auto;
    height: auto;
}

.our-goal {
    border: 1px solid #EAE0DC;
}

.our-goal-item {
    padding-top: 2rem;
    padding-bottom: 2rem;
    position: relative;
    &:not(:first-child) {
        border-top: 1px solid #EAE0DC;
        border-left: none;
    }
    h3{
        transform: rotate(-90deg);
        transform-origin: 0 0;
        position: absolute;
        top: 65%;
        left: 1rem;
        margin: 0;
        width: 150px;
        height: 50px;
        text-align: right;
    }
    p{
        width: calc(100% - 60px);
        margin-left: auto;
    }
}

@media screen and (max-width: 576px) {}

@media screen and (max-width: 767px) {
    .logo-container {
        z-index: 2;
    }
}

@media screen and (max-width: 991px) and (min-height: 1024px) {
    div.hero-section-wrapper {
        min-height: 70vh;
        height: 70vh;
    }

    div.hero-images-wrapper {
        max-height: 70vh;

        &::after {
            height: 30vh;
        }
    }
}

@media screen and (min-width: 578px) {
    
    .our-goal-item {
        h3{
            top: 48%;
            left: 0;
        }
    }
}
@media screen and (min-width: 768px) {
    body {
        position: relative;
    }

    .site-main,
    .site-footer,
    .top-logo-container {
        width: calc(100% - 50px);
        margin-left: 50px;
    }

    .top-logo-container {
        display: block;
        position: absolute;
        top: 3rem;
        z-index: 2;
    }

    .hero-images-wrapper {
        max-height: 100vh;

        &::after {
            height: 60vh;
            background: linear-gradient(180deg, rgba(248, 247, 244, 0) 0%, rgba(248, 247, 244, 0.6) 15%, rgba(248, 247, 244, 1) 100%);
        }

        .hero-images {
            width: 122%;
        }
    }

    .logo-container {
        margin-top: 10rem;

        .custom-logo-link {
            min-width: 360px;
            width: 100%;
        }
    }

    .logo_outline {
        top: -4px;
        right: -10px;
        max-height: 108px;
    }

    .btn-explore-artist {
        margin-left: auto;
        margin-right: 0;
    }

    .our-artist-section {
        .our-artist {
            height: 100%;
            max-height: 550px;
        }

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        .display-1 {
            position: relative;
            left: -90%;
            transform: translateX(50%);
            width: 106%;
            text-shadow: 1px 1px 2px $white;
        }
    }

    .about-wrapper {
        padding-top: 15rem;
    }

    .hero-section-wrapper.about-section-wrapper {
        min-height: 130vh;
        height: 130vh;
    }

    .hero-images-wrapper.about-images-wrapper {
        max-height: 130vh;

        &::after {
            height: 50vh;
        }
    }
    .our-goal-item {
        &:not(:first-child) {
            border-left: 1px solid #EAE0DC;
            border-top: none;
        }
        h3{
            height: 66px;
            top: 33%;
        }
        p{
            width: calc(100% - 70px);
        }
    }
}

@media screen and (min-width: 992px) {

    .hero-section-wrapper {
        min-height: 150vh;
        height: 150vh;
    }

    .hero-images-wrapper {
        max-height: 200vh;

        &::after {
            height: 100vh;
        }
    }
    .our-goal-item {
        padding-top: 3rem;
        padding-bottom: 3rem;
        h3{
            top: 48%;
        }
    }
}

@media screen and (min-width: 1024px) {
    .logo-container .custom-logo-link {
        min-width: 360px;
    }

    .logo_outline {
        top: -4px;
        right: -10px;
        max-height: 106px;
    }

    .hero-image-container {
        img {
            height: 22rem;
        }
    }

    .our-story-img {
        height: 100%;

        img {
            height: 100%;
            object-fit: cover;
            object-position: center;

        }
    }
}

@media screen and (min-width: 1200px) {
    .logo-container .custom-logo-link {
        min-width: 420px;
    }

    .logo_outline {
        top: -6px;
        right: -12px;
        max-height: 126px;
    }

    .hero-image-container {

        img {
            width: 75%;
        }
    }
    .our-goal-item {
        h3{
            top: 60%;
        }
    }
}

@media screen and (min-width: 1400px) {
    .logo-container .custom-logo-link {
        min-width: 500px;
    }

    .logo_outline {
        top: -8px;
        right: -14px;
        max-height: 150px;
    }
    .our-goal-item {
        h3{
            top: 70%;
        }
    }
}

@media screen and (min-width: 1500px) {
    .logo-container .custom-logo-link {
        min-width: 540px;
    }

    .logo_outline {
        top: -6px;
        max-height: 160px;
    }
}

@media screen and (min-width: 1920px) {
    .logo-container .custom-logo-link {
        min-width: 700px;
    }

    .logo_outline {
        right: -20px;
        max-height: 208px;
    }

    .hero-image-container {
        img {
            height: 30rem;
        }
    }
}

@media screen and (min-width: 2560px) {
    .logo-container .custom-logo-link {
        min-width: 900px;
    }

    .logo_outline {
        right: -26px;
        max-height: 265px;
    }
}